.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-10 {
  opacity: 0.1;
}

.disabled {
  pointer-events: none;
}

.link {
  &-zoom-in {
    transition: all 0.25s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
      z-index: 100;
    }
  }
}

.fs-9 {
  font-size: 90%;
}

.img-3 {
  width: 40%;
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}